{% extends 'base.html.twig' %}

{% block title %}
    Créer Sponsor
{% endblock %}

{% block body %}
<div class="row">

    <div class="col-sm-6 col-sm-offset-3 col-xs-12">

            <h1>Ajouter un sponsor à votre évennement</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Créer</button>
            <a href="{{ path('event_show', {'id' : eventId}) }}" class="btn btn-primary">Passer cet étape</a>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
