<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-xs-10 col-xs-push-1">
                <div class="widget">
                    <h5 class="widgetheading">Contactez Nous</h5>
                    <p>
                        <i class="icon-phone"></i> (+216) 23 456 109 <br>
                        <i class="icon-envelope-alt"></i> mkhinini.motaz@gmail.com
                    </p>
                </div>
            </div>
            <div class="col-sm-3 col-xs-10 col-xs-push-1">
                <div class="widget">
                    <h5 class="widgetheading">Explorez notre site</h5>
                    <ul class="link-list">
                        <li><a href="{{ path("categorie_index") }}">Categories</a></li>
                        <li><a href="{{ path("sponsor_index") }}">Sponsors</a></li>
                        <li><a href="{{ path("event_passee") }}">Evennements passées</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-xs-10 col-xs-push-1">
                <div class="widget">
                    <h5 class="widgetheading">A propos</h5>
                    <p class="text-justify">
                        Ce site a pour bute de faciliter la publication et gestion des évènements culturelles en Tunisie, il a été réalisé dans le cadre d'un projet de fin d'année au sein de <a href="http://www.episousse.com.tn/">l'EPI Sousse</a>, il a été encadré par M. <b>Zied Elleuch</b> à qui nous présentons nos remerciements pour sa contribution précieuse et constructive.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>
                            <span>&copy; Mkhinini Motaz All right reserved.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
