{% extends 'base.html.twig' %}

    {% block title %}Tunisia Events{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-sm-3 col-xs-12">
            <h2 class="h2">Trouver un évennement :</h2>
            {{ form_start(searchForm) }}
            <button type="submit" name="rechercher" class="btn btn-success">Rechercher</button>
            {{ form_widget(searchForm) }}
            {{ form_end(searchForm) }}
        </div>

        <div class="col-sm-9 col-xs-12">
            <div class="container-fluid">
                {% for event in events %}
                    {% include 'event/affiche_events.html.twig' %}
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
