{% extends 'base.html.twig' %}

{% block title %}TunisiaEvents - Home{% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/mystyle.css') }}">
{% endblock %}

{% block headcontainer %}
	<div id="home_head">
		<h1 class="text-center h1">Hello World, Page d'accueil</h1>
	</div>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
			    <h1 class="text-center h1">New Hello</h1>
			</div>
		</div>
	</div>
{% endblock %}
