{% extends 'base.html.twig' %}

{% block title %}
    Catégories proposé
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 col-sm-push-3 col-xs-12">
            <a class="btn btn-primary edit-retour-btn" href="{{ path('admin_index') }}">
                <span class="ion-reply"></span>
                 Retour
            </a>
            </br></br>
            <table class="table table-striped table-bordered table-responsive table-condensed">
                <thead>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Accepté</th>
                    <th class="text-center"></th>
                </thead>
                <tbody>
                    {% for categorie in categories %}
                        <tr>
                            <td class="text-center">{{ categorie.nom }}</td>
                            <td class="text-center">
                                {% if categorie.accepte %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if categorie.accepte %}
                                    <a class="btn btn-danger" href="{{ path('admin_categories_supprimer', {'id' : categorie.id} ) }}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        <span class="hidden-xs">Supprimer</span>
                                    </a>
                                {% else %}
                                    <a class="btn btn-success" href="{{ path('admin_categories_activer', {'id' : categorie.id} ) }}">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="hidden-xs">Accepter</span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
