{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-xs-12">
            <h4 class="h4">Bienvennue dans l'interface admin</h5>
            <a href="{{ path('admin_users') }}">
                Voir Liste des abonnées dans le site
            </a>
            </br>
            <a href="#">
                Voir évènements organisées par mois
            </a>
            </br>
            <a href="#">
                Voir nombres de réservation par mois
            </a>
            </br>
        </div>
        <div class="col-xs-12 col-sm-6">

        </div>

    </div>
{% endblock %}
