{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="submit" class="form-control" class="btn btn-primary"> {{ 'registration.submit'|trans }} </button>
    </div>
{{ form_end(form) }}
