{% extends 'base.html.twig' %}

{% block title %}
    Création d'un évennement
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-sm-6 col-sm-offset-3 col-xs-12">

            <h1 class="h1">Création d'un nouveau évennement</h1>

            Votre évennement est : </br>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" name="creer" class="btn btn-success">Créer</button>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        {% if form.ouvertCheck.vars.checked %}
            fields.hide();
            fields.prev().hide();
        {% endif %}

        {% if form.gratuitCheck.vars.checked %}
            field.hide();
            field.prev().hide();
        {% endif %}

        $("#appbundle_event_ouvertCheck").click(function(){
            if($(this).is(":checked")){
                fields.hide();
                fields.prev().hide();
            }else{
                fields.show();
                fields.prev().show();
            }
        });

        $("#appbundle_event_gratuitCheck").click(function(){
            if($(this).is(":checked")){
                field.hide();
                field.prev().hide();
            }else{
                field.show();
                field.prev().show();
            }
        });
    </script>

{% endblock %}
