{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-sm-6 col-sm-push-3 col-xs-12">

            <h1 class="h1">Inscription</h1>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">S'inscrire </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
