{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 col-sm-push-3 col-xs-12">

            <h1>Liste des Categories</h1>
            <ul class="unstyled">
                {% for categorie in categories %}
                    <li><a href="{{ path('categorie_show', { 'id': categorie.id }) }}">{{ categorie.getNomAndCount }}</a></li>
                {% endfor %}
            </ul>
            <ul class="class="unstyled"">
                <li>
                    <a href="{{ path('categorie_new') }}">Proposer une nouvelle categorie</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
