{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-sm-6 col-sm-push-3 col-xs-12 categorie_show">

            <h1 class="h1">Evénnement dans la catégorie {{ categorie.nom }}</h1>
            <div class="container-fluid">
                {% for event in categorie.events %}
                    {% include 'event/affiche_events.html.twig' %}
                {% endfor %}
            </div>
    </div>

{% endblock %}
